<% title "Úprava zařízení #{@device}" %>

<%= render 'form' %>

<p class="action-buttons right">
	<%= link_to "Zobrazit", @device, :class => 'button-link' %>
	<%= link_to "Zobrazit všechna zařízení", devices_path, :class => 'button-link' %>
</p>

